---
---
<html>
  <body>
    <script>
      console.log('ENV TEST:', import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY);
    </script>
    <h1>Env Test</h1>
    <p>Check the browser console for the value of PUBLIC_GOOGLE_MAPS_API_KEY.</p>
  </body>
</html> 